@tailwind base;

@tailwind components;

@font-face {
    font-family: "goudy";
    src: url("goudy_bookletter_1911-webfont.woff") format("woff"),
        url("goudy_bookletter_1911-webfont.eot") format("embedded-opentype"),
        url("goudy_bookletter_1911-webfont.svg") format("svg"),
        url("goudy_bookletter_1911-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto_slabregular";
    src: url("RobotoSlab-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@tailwind utilities;